.Pigination_wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 6rem;
}

.ItemTabs {
	border: black solid 2px;
	border-radius: 10px;
	width: 15%;
	padding: 0.45rem;
	text-align: center;
}
