.Homepage {
	max-width: 1100px;
	width: 80vw;
	margin: 0 auto;
}

.Homepage_banner {
	background-image: linear-gradient(
			rgba(170, 127, 145, 0.688) 90.13%,
			rgba(170, 127, 145, 0.688) 90.13%
		),
		url(../../Assets/homepage.svg);
	background-size: cover;
	height: 80vh;
	background-repeat: no-repeat;
	position: relative;
	border-radius: 25px;
	margin-bottom: 6rem;

	@media screen and (max-width: 768px) {
		background-size: contain;
		margin-bottom: 0rem;
		margin-top: 5rem;
		height: 44vh;
	}

	.Homepage_banner:hover {
		background-image: linear-gradient(
				rgba(238, 238, 238, 0.688) 90.13%,
				rgba(245, 241, 243, 0.267) 90.13%
			),
			url(../../Assets/homepage.svg);
	}
}

.Homepage_banner__text {
	display: flex;
	justify-content: center;
	align-items: center;
	top: 65px;
	bottom: 36px;
	position: absolute;
	flex-direction: column;
	left: 0;
	right: 0;
	text-align: center;

	.Homepage_banner__button {
		padding: 12px;
		font-size: 14px;
		border: none;
		background: black;
		color: aliceblue;
		border-radius: 25px;
		margin-top: 10px;
		font-weight: bold;
	}

	@media screen and(max-width: 768px) {
		top: -38px;
		bottom: 26px;
	}
}

.Homepage_item__grid {
	display: flex;
	justify-content: space-between;
}

.Homepage_second__grid {
	flex-basis: 75.5%;

	.Homepage_second__gridText {
		font-size: 50px;
		font-weight: 800;
		text-transform: uppercase;
	}

	.Homepage_viewMore {
		font-size: 20px;
		font-weight: bold;
		cursor: pointer;
		margin-bottom: 1rem;
	}
}

.Homepage_item {
	display: grid;
	justify-content: space-between;
	grid-template-columns: 1fr 1fr 1fr;
}

.Homepage_secondGrid__boxes {
	background-image: url(../../Assets/homepage.svg);
	background-size: cover;
	height: 160px;
	flex-basis: 30.5%;
	border-radius: 25px;
	width: 80%;
	margin: 0 auto;
}
